<script src="../../assets/js/bubbles_insert.js"></script>
<link rel="stylesheet" href="../../assets/css/siteWideStyle.css">
<link rel="stylesheet" href="../../assets/css/birthdayBotStyle.css">
<div class="header-bgc">
    <div class="bubbles">
        <!-- <div id="bubble-pop-id-0" class="bubble-pop">
        </div>
        <div id="bubble-pop-id-1" class="bubble-pop">
        </div>
        <div id="bubble-grow-id-0" class="bubble-grow cursor-pointer"  onclick="popBubble('0')">
        </div>
        <div id="bubble-grow-id-1" class="bubble-grow cursor-pointer" onclick="popBubble('1')">
        </div> -->
    </div>
</div>