<link rel="stylesheet" href="../../assets/css/achievementsSectionStyle.css">
<div class="achievements-section">
    <div class="receipt-edge"></div>
    <div class="receipt-body">
        <div class="achievements-title"> Achievements </div>
        <div id="cat-tail-achievement-icon-id" class="achievements-icon"></div>
        <div class="achievements-description"> But it was so tempting... </div>

        <div id="sugar-cube-achievement-icon-id" class="achievements-icon"></div>
        <div class="achievements-description"> It dissolves </div>

        <div id="bubble-pop-achievement-icon-id" class="achievements-icon"></div>
        <div class="achievements-description"> Bubble, bubble, pop, pop </div>
    </div>
    <div class="receipt-edge bottom-edge"></div>
</div>