<!doctype html>
<html>

<div class="bubbles">
  <div class="bubble-column">
    <div id="bubble-block-id-3" class="bubble-block cursor-pointer" onclick="popBubble('3')">
      <div id="bubble-pop-id-3" class="bubble-pop">
      </div>
    </div>
  </div>
  <div class="bubble-column">
    <div id="bubble-block-id-4" class="bubble-block cursor-pointer" onclick="popBubble('4')">
      <div id="bubble-pop-id-4" class="bubble-pop">
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  startBubblesAnimation();  
</script>

</html>