<!doctype html>
<html>

<div class="bubbles">
  <div class="bubble-column">
    <div id="bubble-block-id-0" class="bubble-block cursor-pointer" onclick="popBubble('0')">
      <div id="bubble-pop-id-0" class="bubble-pop">
      </div>
    </div>
  </div>
  <div class="bubble-column">
    <div id="bubble-block-id-1" class="bubble-block cursor-pointer" onclick="popBubble('1')">
      <div id="bubble-pop-id-1" class="bubble-pop">
      </div>
    </div>
  </div>
  <div class="bubble-column">
    <div id="bubble-block-id-2" class="bubble-block cursor-pointer" onclick="popBubble('2')">
      <div id="bubble-pop-id-2" class="bubble-pop">
      </div>
    </div>
  </div>
</div>

</html>