<link rel="stylesheet" href="../../assets/css/floatingSectionMainStyle.css">
<div class="floating-section">
    <div class="text-fs">
        {{ include.content | markdownify }}
    </div>
    <div class="top-left-corner"></div>
    <div class="top-horizontal top"></div>
    <div class="top-right-corner"></div>
    <div class="vertical-right right"></div>
    <div class="bottom-right-corner"></div>
    <div class="bottom-horizontal bottom"></div>
    <div class="bottom-left-corner"></div>
    <div class="vertical-left left"></div>
    <div class="fs-bg"></div>
    {% if include.bottom_fs != null or include.bottom_fs %}
        <div class="triangle-top-to-the-left"></div>
    {% else %}
        {% if include.left_fs != null or include.left_fs %}
            <div class="triangle-bottom-to-the-right"></div>
        {% else %}
            <div class="triangle-bottom-to-the-left"></div>
        {% endif %}
    {% endif %}
</div>