---
---
:root {
    --header-color: #CCE9FAFF;
    --main-background-color: rgb(247, 252, 255);
    --footer-link: url("../images/birthdayBotFooter.png");
}

.header-bgc {
	height: 198px;
	width: 100%;
	/* background-color: var(--header-color); */
	display: flex;
	justify-content: center;
	align-items: center;
}

.bubbles {
	height: 196px;
	width: 372px;
	/* background: url('../images/VendingMachine_2x.png') 0px -1246px; */
	margin-bottom: 0px;
  	margin-top: auto;
}

.bubble-pop {
	width: 46px;
	height: 43px;
	background: url('../images/VendingMachine_2x.png') -0px -1445px;
	position: relative;
	z-index: 10;
	top: 75px;
	left: 202px;
}

.bubble-grow {
	width: 46px;
	height: 43px;
	background: url('../images/VendingMachine_2x.png') -554px -1445px;
	position: relative;
	z-index: 10;
	top: -11px;
	left: 204px;
}

.bubble-grow-animation {
	animation: bubble-grow 1s steps(10) 4s 1;
}

.bubble-pop-animation {
	animation: bubble-pop 5s steps(12) 0s 1;
}

.bubble-pop + .bubble-pop {
	top: 70px;
	left: 116px;
}

.bubble-grow + .bubble-grow {
	background: url('../images/VendingMachine_2x.png') -554px -1445px;
	top: -16px;
	left: 118px;
}

@keyframes bubble-pop{
	0%  {background-position-x: 0px;}
	20%  {background-position-x: -551px;}
	100% {background-position-x: -551px;}
}

@keyframes bubble-grow{
	0%  {background-position-x: -554px;}
	100% {background-position-x: -1014px;}
}

.top-fill {
	width: 100%;
	height: 404px;
	background: url('../images/boards_fill_grey.png');
	background-repeat: round;
	position: relative;
}

.bench-objects {
	background: url('../images/Grey_boards.png') 0px 0px;
	width: 1207px;
	height: 404px;
}
