---
---
:root {
    --main-background-color: rgb(247, 252, 255);
    --footer-link: url("../images/birthdayBotFooter.png");
}

.bubble-block {
	width: 46px;
	height: 43px;
	position: relative;
	display: none;
	top: 100%;
}

.float-animation {
	animation: movX 2s cubic-bezier(.45,.05,.55,.95) 0s infinite alternate both, 
	movY 10s linear 0s infinite normal forwards;
	display: block;
}

.bubbles {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.bubble-column {
	height: 100%;
	width: 80px;
	position: relative;
	flex: 0.1 1 80px;
}

@keyframes movX {
	from { left: 0%; }
	to { left: calc(100% - 46px); }
}

@keyframes movY {
	100% { top: -7%; }
}

.bubble-pop {
	width: 46px;
	height: 43px;
	background: url('../images/VendingMachine_2x.png') -0px -1445px;
	position: relative;
}

.bubble-grow {
	width: 46px;
	height: 43px;
	background: url('../images/VendingMachine_2x.png') -554px -1445px;
	position: relative;
	top: -43px;
}

.bubble-grow-animation {
	animation: bubble-grow 1s steps(10) 4s 1;
}

.bubble-pop-animation {
	animation: bubble-pop 5s steps(12) 0s 1 normal forwards;
}

@keyframes bubble-pop{
	0%  {background-position-x: 0px;}
	20%  {background-position-x: -551px;}
	100% {background-position-x: -551px;}
}

@keyframes bubble-grow{
	0%  {background-position-x: -554px;}
	100% {background-position-x: -1014px;}
}

.top-fill {
	width: 100%;
	height: 404px;
	background: url('../images/boards_fill_grey.png');
	background-repeat: round;
	position: relative;
}

.bench-objects {
	background: url('../images/Grey_boards.png') 0px 0px;
	width: 1207px;
	height: 404px;
}

.bottle-block {
	position: absolute;
	top: 55px;
	left: 192px;
}

.bottle {
	background: url('../images/VendingMachine_ext_2x.png') 0px -1513px;
	width: 219px;
	height: 229px;
	position: relative;
	top: -110px;
	left: 0px;
}

.bottle-shadow {
	background: url('../images/VendingMachine_ext_2x.png') -220px -1513px;
	width: 177px;
	height: 110px;
	position: relative;
	top: 168px;
	left: 34px;
}

.projectMotto {
	font: 26px 'VT323', monospace;
	margin-top: 10px;
}