---
---
body, html{
    margin:0;
    padding:0;
  } 

.cat-tail {
	height: 153px;
	width: 171px;
	background: url('../images/Cat_tail.png') 0px 0px;
    animation: steps(11) 1.5s infinite 0s cat-tail-animation;
	position: relative;
}

@keyframes cat-tail-animation{
	0%  {background-position-x: 0px;}
	100% {background-position-x: -1892px;}
}