---
---
.container { 
  width: 0;
  height: 0;
    
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

body{
  min-height: 1000vh;
}

.customAnimation {
    position: fixed;
    width: 32px;
    height: 32px;
    background: url('../images/Selection.png') left center;
    animation-name: play; 
    animation-duration: 0.8s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  } 

@keyframes play {
    100% { background-position: -120px; }
 }

 /* */
 :root {
  --main-bg-color: rgb(229, 130, 206);
}

 .header-placeholder{
  background-color: var(--main-bg-color) !important;
  grid-area: 1 / 1 / span 1 / span 4;
 }

 .mid-section-1{
  grid-area: 2 / 1 / span 1 / span 1;
 }

 .mid-section-2{
  grid-area: 2 / 2 / span 1 / span 1;
 }

 .mid-section-3{
  grid-area: 2 / 3 / span 1 / span 1;
  z-index: 2;
 }

 .mid-section-4{
  grid-area: 2 / 4 / span 1 / span 1;
 }

 .footer-placeholder{
  background-color: var(--main-bg-color) !important;
  grid-area: 3 / 1 / span 1 / span 4;
 }

 .background-cell{
  grid-area: 1 / 1 / span 3 / span 4;
  perspective: 100px;
  overflow: hidden;
  z-index: -1;
 }

 .background-image{
  background: url('../images/Background.png');
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  
  transform-style: preserve-3d;
  transform: rotateX(7deg);
  transform-origin: top;
 }
 /* */

 /* grid starts */
 .content-container {
  display: grid;
  grid-template-columns: 150px 1fr 1fr 150px;
  grid-template-rows: 0px 1fr 80px;

  /* background-color: black;
  gap: 1px 1px; */

  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;

  perspective: 100px;

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.content-item{
  background-color: #00000000;
}
 /* grid ends */

 /* cd-disk animation starts */
 #cd-image {
	width: 129px;
	height: 129px;
	background: url('../images/Retro_pc_3x.png') -597px -299px;
	z-index: 2;
}
.inner {
  position: absolute;
}
.cd-wrapper {
  position: relative;
}
.rotation {
  animation-name: rotation-animation; 
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} 
@keyframes rotation-animation {
  100% { transform: rotate(360deg); }
}
.gradient-glare{
  background-image: linear-gradient(#E4E4E4FF 35%, #FFABABFF, #FAFFB4FF, #B4FFA2FF, #95D6FAFF, #F6A5FFFF, #E4E4E4FF 65%);
  background-size: 100% 400%;
  animation: gradient-glare-animation 2s ease-in-out infinite alternate both;
  width: 125px;
  height: 125px;
  border-radius: 65px;
  z-index: 1;
  margin: 2px 2px;
}
@keyframes gradient-glare-animation{
  0%  {background-position-y: 0%;}
  100% {background-position-y: 100%;}
}
/* cd-disk animation ends */

/* inserting cd animation starts */
.cd-with-a-flash {
	position: relative;
	width: 129px;
	height: 30px;
  top: 20px;
	background: url('../images/Retro_pc_3x.png') -597px -429px;
	animation: 0.5s steps(3) calc(var(--scroll) * 2 * 3 * -0.5s) 6 alternate forwards paused cd-with-a-flash-animation,
    2s linear calc(var(--scroll) * 2 * 3 * -2s) 6 alternate forwards paused insert-cd-animation;
	z-index: 2;
}

@keyframes cd-with-a-flash-animation {
  0% { background-position-y: -429px; }
  10% { background-position-y: -429px; }
  30% { background-position-y: -519px; }
  100% { background-position-y: -519px; }
}

@keyframes insert-cd-animation{
  0% {top: 20px}
  100% {top: -50px; }
}

.cd-rom-blink {
	width: 16px;
	height: 16px;
	background: url('../images/Retro_pc_2x.png') -104px -518px;
	top: 54px;
	left: 13px;
	position: relative;
	animation: linear 0.7s infinite alternate both blink-animation;
  opacity: 0;
}

@keyframes blink-animation{
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
 }

.cd-rom {
	width: 133px;
	height: 50px;
	top: 50px;
	left: 33px;
	position: relative;
	overflow: hidden;
}

.cd-rom-cover{
  position: relative;
	width: 133px;
	height: 9px;
	background: url('../images/Retro_pc_2x.png') -20px -458px;
  animation: cd-rom-cover-animation 1s linear 1 normal forwards;
	z-index: 3;
}

@keyframes cd-rom-cover-animation{
  to { height: 0px }
}
/* inserting cd animation ends */

/* pc starts */
.working-section{
	position: relative;
  max-height: 100%;
  top: 10px;
}

.pc-wrapper {
  top: 140px;
  left: 60px;
	width: 360px;
	height: 338px;
	background: url('../images/Retro_pc_2x.png') -5px -120px;
	position: absolute;
}

.cd-rack {
	top: 246px;
	left: 432px;
	width: 143px;
	height: 223px;
	background: url('../images/Retro_pc_2x.png') -1038px -454px;
	position: absolute;
}

.cd-1 {
	top: 255px;
	left: 451px;
	width: 106px;
	height: 10px;
	background: url('../images/Retro_pc.png') -494px -339px;
	position: absolute;
}

.keyboard {
  top: 490px;
  left: 0px;
	width: 461px;
	height: 71px;
	background: url('../images/Retro_pc_3x.png') -9px -705px;
	position: absolute;
}

.mouse {
	top: 470px;
	left: 410px;
	width: 146px;
	height: 116px;
	background: url('../images/Retro_pc_3x.png') -9px -778px;
	position: absolute;
}

.arrow {
	top: 420px;
	left: 535px;
	width: 33px;
	height: 93px;
	background: url('../images/Retro_pc_2x.png') -315px -470px;
	position: absolute;
  animation: alternate ease-in-out 1s infinite both arrow-bounce-animation;
}

@keyframes arrow-bounce-animation {
  from { top: 410px; }
  to { top: 430px; }
}
/* pc ends */

/* typewriter-effect starts */
.typewriter-effect{
  font: 24px 'VT323', monospace; /*TODO for the whole document?*/
  /* font-weight: 600; */
  background: linear-gradient(-90deg, #FEC0EBFF 10px, #0000 0) 
    15px 21px/calc(var(--textLength)*1ch) 3px,
    linear-gradient(#FEC0EBFF 0 0) 
    0 0/calc(var(--textLength)*1ch) 200%;
  background-size: calc(var(--textLength)*1ch) 200%;
  background-repeat: no-repeat;
  animation: cursor-animation 0.3s steps(1) infinite alternate, 
    typing-animation calc(var(--textLength)*.1s) steps(var(--textLength));
  position: relative;
  width: 120px;
  z-index: 6;
  top: 6px;
  left: 6px;
}

@keyframes typing-animation{
  from {background-size:0 200%}
}

@keyframes cursor-animation{
  50% {background-position: 0px -100%, 0px 0px}
}

.pc-screen-clip {
  color:#0000;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
}

.pc-screen {
	width: 290px;
	height: 210px;
	left: 35px;
	position: relative;
	top: 16px;
}

/* typewriter-effect ends */

/* pc-background starts */
.pc-background{
	width: 587px;
	height: 450px;
	background: url('../images/Retro_pc_2x.png') -610px 0px;
	position: relative;
}
/* pc-background ends */

/* bottom icons start */
.git-icon{
	width: 50px;
	height: 50px;
	background: url('../images/Retro_pc_3x.png') -225px -6px;
	margin-right: 40px;
	margin-top: 10px;
  float: right;
}

.save-cv-icon{
	width: 52px;
	height: 50px;
	background: url('../images/Retro_pc_3x.png') -276px -6px;
	margin-right: 10px;
	margin-top: 10px;
  float: right;
}
/* bottom icons end */