---
---
body{
  background-color: gold;
}

body, html{
  margin:0;
  padding:0;
}

.header-image {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.content {
    font-family: "Copperplate";
    font-size: 1em;
    color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
  }