---
---
body, html{
  margin:0;
  padding:0;
  line-height: normal;
  background-color: var(--main-background-color);
  height: 100%;
} 

/* grid starts */
.pd-grid-container{
  display: grid;
  grid-template-columns: 1fr 30% 30% 1fr;
  grid-template-rows: 198px auto auto;
  background-color: var(--main-background-color);
  height: 100%;
}

.grid-item {
  padding: 0px;
  margin: 0px;
}

.header-animation-grid-item{
  grid-column: 1 / span 2; 
}

.header-title-grid-item{
  grid-column: 3 / span 2; 
  background-color: var(--header-color);
}

.footer-grid-item{
  grid-column: 1 / span 4; 
  margin-bottom: 0px;
  margin-top: auto;
}

.content-grid-item{
  grid-column: 2 / span 2;
  margin-top: 20px;
}
/* grid ends */

.projectTitle{
  font: 40px 'VT323', monospace;
}

.projectMotto{
  font: 24px 'VT323', monospace;
}

h3{
  color: darkolivegreen;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3:nth-of-type(even) {
  text-align: right;
}

h3:nth-of-type(2n+1) {
	text-align: left;
	width: fit-content;
}

p {
  color:darkmagenta;
  font: 20px 'Overpass Mono';
}

li {
  color:darkmagenta;
  font: 20px 'Overpass Mono';
  list-style-type: square;
}

ul{
  margin-top:0; 
  margin-bottom:0;
}

.icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: -10px;
}

.icon-motivation {
	background: url('../images/VendingMachine_2x.png') -50px -1192px;
  margin-right: 5px;
}

.icon-features {
	background: url('../images/VendingMachine_2x.png') -200px -1192px;
  margin-right: 5px;
}

.icon-importance {
	background: url('../images/VendingMachine_2x.png') -0px -1192px;
  margin-left: 5px;
}

.icon-learned {
	background: url('../images/VendingMachine_2x.png') -150px -1192px;
  margin-left: 5px;
}

.icon-next {
	background: url('../images/VendingMachine_2x.png') -250px -1192px;
  margin-right: 5px;
}

.text-icon-block{
  margin-left: auto; 
  display: block;
}

.text-header {
  font: 20px 'Oxanium';
  display: inline-block;
  margin-bottom: 15px;
}

.text-left{
  text-align: left;
  padding-right: 200px;
}

.text-right{
  text-align: right;
  padding-left: 200px;
}

.inner-grid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

.inner-grid-item-odd{
  text-align: left;
}

.inner-grid-item-even{
  text-align: right;
}