<link rel="stylesheet" href="../../assets/css/footerContentCreation.css">
<script src="../assets/js/footerContentCreation.js"></script>
<div class="footer-bgc">
    <div class="footer-links">
        <div class="footer-link">
            <a href="https://www.youtube.com/@olyadushka" target="_blank">
                <img class="icon-footer icon-footer-right" src="../assets/images/ContentCreationIcons/youtube.png"></img>
            </a>
            <div class="footer-text">
                https://www.youtube.com/@olyadushka
            </div>
        </div>
        <div class="footer-link">
            <a href="mailto:olga.guselnikova@proton.me" target="_blank">
            <img class="icon-footer icon-footer-right" src="../assets/images/ContentCreationIcons/email.png"></img>
            </a>
            <div class="footer-text">
                Send an e-mail
            </div>
        </div>
        <div class="footer-link">
            <a href="../../assets/docs/ContentCreation/OlgaGuselnikova_GameplayCaptureVideoArtistCV.pdf" target=" _blank">
                <img class="icon-footer icon-footer-right" src="../assets/images/ContentCreationIcons/CV.png"></img>
            </a>
            <div class="footer-text">
                Open CV
            </div>
        </div>
        <div class="footer-link">
            <a href="https://www.linkedin.com/in/olga-guselnikova/" target="_blank">
                <img class="icon-footer icon-footer-right" src="../assets/images/ContentCreationIcons/linkedin.png"></img>
            </a>
            <div class="footer-text">
                See LinkedIn profile
            </div>
        </div>
    </div>
</div>
</div>