<link rel="stylesheet" href="../../assets/css/footerWithLinksStyle.css">
<div class="footer-bgc">
    <div class="footer-links">
        <div class="icon-back-to-main icon-footer icon-footer-left" onclick="document.location='vm.html'">
        </div>
        <div class="icon-cv-download icon-footer icon-footer-right"></div>
        <div class="icon-email icon-footer icon-footer-right"></div>
        <div class="icon-linkedin icon-footer icon-footer-right"></div>
        <div class="icon-github icon-footer icon-footer-right"></div>
        </div>
    </div>
</div>