<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323|Oxanium|Overpass+Mono">
    
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/projectDescriptionStyle.css">
  </head>
  <body>
    <div class="pd-grid-container">
      <div class="grid-item header-animation-grid-item">
          {% if page.banner %}
            {% include {{ page.banner }} %}
          {% endif %}
      </div>
      <div class="grid-item header-title-grid-item">
        <div class="projectTitle">
          {{ page.projectTitle }}
        </div>
        {{ page.projectMotto }}
      </div>
      <div class="grid-item"></div>
      <div class="grid-item content-grid-item inner-grid">
        <div class="inner-grid-item-odd">
          {%include floatingSection.html content=page.stack %}
          <div class="text-icon-block">
            <div class="icon icon-motivation"></div>
            <div class="text-header">Motivation</div>
          </div>
          <div class="text-section text-left">{{ page.motivation | markdownify | newline_to_br }}</div>
        </div>
        <div class="inner-grid-item-even">
          <div class="text-icon-block">
            <div class="text-header">Why this project was important?</div>
            <div class="icon icon-importance"></div>
          </div>
          <div class="text-section text-right">{{ page.importance | markdownify | newline_to_br }}</div>
        </div>
        <div class="inner-grid-item-odd">
          <div class="text-icon-block">
            <div class="icon icon-features"></div>
            <div class="text-header">Killer features</div>
          </div>
          <div class="text-section text-left">{{ page.killerFeatures | markdownify | newline_to_br }}</div>
        </div>  
        <div class="inner-grid-item-even">
          <div class="text-icon-block">
            <div class="text-header">What have I learned?</div>
            <div class="icon icon-learned"></div>
          </div>
          <div class="text-section text-right">{{ page.learned | markdownify | newline_to_br }}</div>
        </div>
        {% if page.next %}
        <div class="inner-grid-item-odd">
          <div class="text-icon-block">
            <div class="icon icon-next"></div>
            <div class="text-header">What's next?</div>
          </div>
          <div class="text-section text-left">{{ page.next | markdownify | newline_to_br }}</div>
        </div>
        {% endif %}
      </div>
      <div class="grid-item"></div>
      <div class="grid-item footer-grid-item">
          {%include Footers/footerWithLinks.html %}
      </div>   
    </div>
  </body>
</html>