<!doctype html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="../assets/images/Icon.png">

  <script src="../assets/js/cookieHandler.js"></script>
  <script src="../assets/js/animationHandler.js"></script>
  <script src="../assets/js/achievementHandler.js"></script>

  <link rel="stylesheet" href="../assets/css/projectHeaderStyle.css">
  <link rel="stylesheet" href="../assets/css/siteWideStyle.css">

  <link rel="stylesheet" href="../assets/css/achievementsStyle.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323|Oxanium|Overpass+Mono">
</head>

<body onload="onLoad()" onresize="calcBanner()">
  <div class="pd-grid-container">
    <div class="grid-item full-width-grid-item">
      <div class="container-movie-tape">
        <div class="fill-section">
          <div class="top-fill">
            {% if page.banner %}
            {% include {{ page.banner }} %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      {% if page.leftPanel %}
      {% include {{ page.leftPanel }} %}
      {% endif %}
    </div>
    <div class="grid-item content-grid-item inner-grid">
      <div class="text-installment">
        <div><img class="photo" src="../assets/images/Photo.png"></div>
        <div class="intro-text">
            <p>
            Hi! My name is Olga and I run a <strong>YouTube</strong> channel dedicated to action games. It started when I noticed that I enjoy interacting with game's various systems, teaching other players tricks to achieve higher scores and highlighting hidden interactions so everyone can admire them too!
            <br>
            Throughout my journey I had to acquire a very particular set of skills. I handle every stage of my content production pipeline:
            </p>
            <li>⏭ Writing a script and voicing it</li>
            <li>⏭ Recording gameplay with <strong>OBS</strong></li>
            <li>⏭ Editing the clips in <strong>Kdenlive</strong></li>
            <li>⏭ Adding sound effects in <strong>Audacity</strong></li>
            <li>⏭ Creating graphic materials and thumbnails in <strong>Krita</strong></li>
            <li>⏭ Adding subtitles in <strong>Aegisub</strong></li>
            <p>
            I also apply my CS background to write scripts in <strong>Python</strong> to speed up the most repetitive processes.
            </p>
        </div>
      </div>
      <h>Edit examples</h>
      <div class="inner-grid-item inner-grid-item-odd">
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/fastPacedEditing.GIF">
          <div class="gif-inscription">
            <a href="https://youtu.be/fsdfDAgRrFM?t=28">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
            <p class="inscription-text"> ← Watch this moment on youtube</p>
          </div>
        </div>
        <div class="text-section text-left">
          {{ page.fastPacedEditing | markdownify | newline_to_br }}
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-even">
        <div class="text-section text-right">
          {{ page.dynamicComparison | markdownify | newline_to_br }}
        </div>
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/dynamicComparison.GIF">
          <div class="gif-inscription inscription-right">
            <a href="https://youtu.be/fsdfDAgRrFM?t=50">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-odd">
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/transform.GIF">
          <div class="gif-inscription">
            <a href="https://youtu.be/tUgeRMplu8I?t=58">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
        <div class="text-section text-left">
          {{ page.transform | markdownify | newline_to_br }}
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-even">
        <div class="text-section text-right">
          {{ page.rotoscoping | markdownify | newline_to_br }}
        </div>
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/rotoscoping.GIF">
          <div class="gif-inscription inscription-right">
            <a href="https://youtu.be/qvShWnXvmM4?t=403">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-odd">
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/colorAlpha.GIF">
          <div class="gif-inscription">
            <a href="https://youtu.be/fsdfDAgRrFM?t=785">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
        <div class="text-section text-left">
          {{ page.colorAlpha | markdownify | newline_to_br }}
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-even">
        <div class="text-section text-right">
          {{ page.cleanTransitions | markdownify | newline_to_br }}
        </div>
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/cleanTransitions.GIF">
          <div class="gif-inscription inscription-right">
            <a href="https://youtu.be/aDSU0hvcI0g?t=941">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-odd">
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/styleMatch.GIF">
          <div class="gif-inscription">
            <a href="https://youtu.be/fsdfDAgRrFM?t=228">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
        <div class="text-section text-left">
          {{ page.styleMatch | markdownify | newline_to_br }}
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-even">
        <div class="text-section text-right">
          {{ page.consistentStyle | markdownify | newline_to_br }}
        </div>
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/consistentStyle.GIF">
          <div class="gif-inscription inscription-right">
            <a href="https://www.youtube.com/playlist?list=PLOj_S_XbDCueOxtNGk9K5gAiiKyjnWD4W">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-odd">
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/smallAnimations.GIF">
          <div class="gif-inscription">
            <a href="https://youtu.be/a0VewfjnLJI?t=32">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
        <div class="text-section text-left">
          {{ page.smallAnimations | markdownify | newline_to_br }}
        </div>
      </div>
      <div class="inner-grid-item inner-grid-item-even">
        <div class="text-section text-right">
          {{ page.MemeUsage | markdownify | newline_to_br }}
        </div>
        <div>
          <img loading="lazy" class="gif-preview" src="../assets/images/GIFs/memeUsage.GIF">
          <div class="gif-inscription inscription-right">
            <a href="https://youtu.be/gDztH7Y-Ego?t=231">
              <img class="youtube-icon" src="../assets/images/ContentCreationIcons/videolink.png" ></img>
            </a>
          </div>
        </div>
      </div>
      <div class="text-installment">
        <div class="reviews">
          <p><strong>What are viewers saying about my work?</strong></p>
          <table>
            <tr>
              <td>✯✯✯✯✯</td>
              <td>I don't know why I never watched this video, but that transition on 0:52 is just chef's kiss! What a way to open a video!</td>
            </tr>
            <tr>
              <td>✯✯✯✯</td>
              <td>Bunch of great tidbits throughout the video.</td>
            </tr>
            <tr>
            <td>✯✯✯✯✯</td>
              <td>i got mad respect on you girlllll! someone who respects the game by knowing how to play</td>
            </tr>
            <tr>
              <td>✯✯✯✯</td>
              <td>I rather enjoyed the editing you did. It felt engaging.</td>
            </tr>
            <tr>
              <td>✯✯✯✯</td>
              <td>Cool *** captions</td>
            </tr>
          </table>
          <p>If this is the kind of response you are seeking for your video content, please contact me to discuss how I can help you making it happen! Links at the bottom of the page or e-mail me directly at <strong>olga.guselnikova@proton.me</strong></p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      {% if page.rightPanel %}
      {% include {{ page.rightPanel }} %}
      {% endif %}
    </div>
    <div class="grid-item footer-grid-item">
      {% if page.footer %}
      {% include {{ page.footer }} %}
      {% endif %}
    </div>
  </div>
</body>

</html>